{% extends "base.html" %}{% load paginator %}
{% block content %}
<p><a href="{% url realm_index %}">Back to the realms list</a></p>
<h1>Documents</h1>
{% if object_list %}
<ul id="document_list">
{% for document in object_list %}
<li>
<p class="document_title">{{ document.title }}</p>
<dl>
<dt>Description:</dt>
<dd>{% if document.description %}<pre class="template">{{ document.description }}</pre>{% else %}<em>No description available.</em>{% endif %}</dd>
<dt>Sample URI:</dt>
<dd>{% if document.sample_uri %}<a href="{{ document.get_sample_uri }}" target="_blank">{{ document.get_sample_uri }}</a> (<a href="{{ document.get_sample_uri }}?mimetype=text/plain" target="_blank">plain text</a>){% else %}<em>No description available.</em>{% endif %}</dd>
<dt>Regexp:</dt>
<dd><pre class="regexp">{{ document.regexp }}</pre></dd>
<dt>Template:</dt>
<dd><pre class="template">{{ document.template }}</pre></dd>
{% if document.attachment %}
<dt>Attachment size:</dt>
<dd><pre class="template">{{ document.attachment.size }} bytes</pre></dd>
<dt>Attachment url:</dt>
<dd><pre class="template"><a href="{{ document.attachment.url }}" target="_blank">{{ document.attachment.url }}</a></pre></dd>
<dt>Use attachment:</dt>
<dd><pre class="template">{% if document.attachment.use_attachment %}Yes{% else %}No{% endif %}</pre></dd>
{% endif %}
<dt>Last modified:</dt>
<dd>{{ document.get_last_modified }}</dd>
{% if document.usage %}
<dt>Usage:</dt>
<dd><pre class="template">{{ document.usage }}</pre></dd>
{% endif %}
</dl>
</li>
{% endfor %}
</ul>
{% if is_paginated %}{% paginator %}{% endif %}
{% else %}
<p>No documents available in this realm. Please create some on the admin.</p>
{% endif %}
<p><a href="{% url realm_index %}">Back to the realms list</a></p>
{% endblock %}
